{% extends "layout.html.twig" %}

{% block title %}
Ma page
{{ parent() }}
{% endblock %}

{% block header %}
    {% for categories in category %}
    <nav>
        <ul>
            <li>
                <a href="">{{categories.title}}</a>
            </li>
        </ul>
    </nav>
    {% endfor %}
{% endblock %}

{% block main %}
    <main>
        <h1>Page d'accueil</h1>
        <ul>
            {% for post in posts %}
                <li>
                    <h2>
                        {{ post.title }}
                    </h2>
                    <p>
                        {{ post.excerpt }}
                    </p>
                </li>
            {% endfor %}
        </ul>
    </main>
{% endblock %}

